<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1" />
    <title>Drop down Properties Example</title>
    <link th:href="@{/main.css}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <h1>Drop down Properties Example</h1>
    <form th:action="@{/save}" th:object="${user}" method="post">
        <div>
            <label for="userName">User Name</label>
            <input th:field="*{userName}" id="userName" type="text" />
        </div>
        <div>
            <label for="fullName">Full Name</label>
            <input th:field="*{fullName}" id="fullName" type="text" />
        </div>
        <div><label>Status</label></div>
        <!-- <div>
            <ul>
                <li th:each="statusOpt : ${statusOptions.entrySet()}">
                    <input type="radio" th:field="*{status}" th:value="${statusOpt.key}" />
                    <label th:for="${#ids.prev('status')}" th:text="${statusOpt.value}">Status</label>
           </li>
        </ul>
     </div> -->
     <div>
        <button type="submit" name="save">Save</button>
     </div>
  </form>
</body>
</html>