<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalhamento da Execução do Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Detalhamento da Execução do Job</h2>
                <div class="my-3">
                    <p><strong>Job Name:</strong> <span th:text="${executionRequest.jobName}"></span></p>
                    <p><strong>Data do Arquivo:</strong> <span th:text="${executionRequest.fileDate}"></span></p>
                    <p><strong>sequencial:</strong> <span th:text="${executionRequest.sequencial}"></span></p>
                    <p><strong>Status do Job:</strong> <span th:text="${executionRequest.jobStatus}"></span></p>
                    <th:block th:if="${executionRequest.jobExecutionDetail != null}">
                        <p><strong>Detalhe do Job:</strong> <span
                                th:text="${executionRequest.jobExecutionDetail}"></span></p>
                    </th:block>
                    <th:block th:if="${executionRequest.StepExecutionDetail != null}">
                        <p><strong>Detalhe Step Principal:</strong> <span
                                th:text="${executionRequest.StepExecutionDetail}"></span></p>
                    </th:block>
                    <th:block th:if="${executionRequest.message != null}">
                        <p><strong>Mensagem:</strong> <span th:text="${executionRequest.message}"></span></p>
                    </th:block>
                </div>
                <a th:href="@{/request}">Solicitar execução de outro Job</a>
            </div>
        </div>
    </div>
</body>

</html>