<!DOCTYPE html>
<html>

<body>

    <h1> VIP Interchange Rate Validator - Reprocessamento - Bandeira Mastercard</h1>

    <form method="POST" action="/locator" enctype="multipart/form-data">
        <!-- <input type="file" name="file" /> -->
        <br /><br />
        <p>Selecione da Data do arquivo a ser processado: <input type="date" name="fileDate" /> </p>
        <br />
        <p>Informe nome do job:<input type="text" name="jobName" /> </p>
        <br />
        <p>Informe a hora atual (Preencha apenas em caso de reprocessamento):<input type="text" name="time" /> </p>
        <br />
        <input type="submit" value="Submit" />
    </form>

</body>

</html>